<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>bonfireapp$(BUNDLE_ID_SUFFIX)</string>
		<string>fbbonfireapp$(BUNDLE_ID_SUFFIX)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>favicon_filled</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bonfireapp$(BUNDLE_ID_SUFFIX)</string>
				<string>fb342022063368801</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>FacebookAppID</key>
	<string>342022063368801</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>Bonfire</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>snapchat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Access to your camera allows you to upload images</string>
	<key>NSContactsUsageDescription</key>
	<string>Bonfire is better with friends! We display your contacts in a list to make sharing Bonfire even easier. We will never send an invite to a friend without your permission.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access to your Photo Library allows you to post and save images</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We only use your Photo Library to attach photos and videos to your posts.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.Ingenious.bonfire.open-camp-activity-type</string>
		<string>com.Ingenious.bonfire.open-feed-timeline</string>
	</array>
	<key>SCSDKClientId</key>
	<string>$(SCSDKClientId)</string>
	<key>SCSDKRedirectUrl</key>
	<string>bonfireapp$(BUNDLE_ID_SUFFIX)://app</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Black.otf</string>
		<string>Inter-BlackItalic.otf</string>
		<string>Inter-Bold.otf</string>
		<string>Inter-BoldItalic.otf</string>
		<string>Inter-ExtraBold.otf</string>
		<string>Inter-ExtraBoldItalic.otf</string>
		<string>Inter-Italic.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-MediumItalic.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-SemiBold.otf</string>
		<string>Inter-SemiBoldItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
